---
import LeftSidebar from '~/components/Layout/LeftSidebar/LeftSidebar.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Docs</title>
    </head>
    <body>
        <LeftSidebar />
        <slot />
    </body>
</html>
